* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-home-heading {
  margin-left: 9px;
  color: white;
  font-family: 'Bree Serif';
  font-size: 35px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 45px;
}

.ipl-logo {
  height: 70px;
  width: 70px;
}
